@using BaseDatos.Recompensas
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Identity
@using System.Text.Json
@using pepeizqs_deals_web.Data

@inject IHttpContextAccessor Contexto

<div style="padding: 30px;">
	@if (string.IsNullOrEmpty(usuarioId) == false)
	{
		bool enseñarMensaje = true;

		if (clavesRecompensas?.Count > 0)
		{
			enseñarMensaje = false;

			<div style="display: flex; flex-direction: column; gap: 10px;">
				@foreach (var clave in clavesRecompensas)
				{
					if (string.IsNullOrEmpty(clave.Clave) == false)
					{
						string drm = global::Juegos.JuegoDRM2.DevolverDRM(clave.DRM);

						<div>
							<label>@clave.JuegoNombre (@drm): @clave.Clave</label>
						</div>
					}
				}
			</div>
		}

		if (enseñarMensaje == true)
		{
			<div>
				<label>@Herramientas.Idiomas.BuscarTexto(idioma, "Keys1", "Account")</label>
			</div>
		}
	}
</div>

@code {

	#nullable disable

	[Parameter]
	public string idioma { get; set; }

	[Parameter]
	public string usuarioId { get; set; }

	private List<RecompensaJuego> clavesRecompensas = null;

	protected override async Task OnInitializedAsync()
	{
		if (string.IsNullOrEmpty(usuarioId) == false)
		{
			clavesRecompensas = await BaseDatos.Recompensas.Juegos.LeerJuegosUsuario(usuarioId);
		}
	}
}
