.caja-cuenta-bloque {
    background-color: var(--fondoCuentaBloque);
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid var(--glaseadoBorde);
    padding: 20px 30px;
    justify-content: space-between;
}

.texto-cabecera {
    font-size: var(--tamañoTexto);
    color: var(--colorTexto);
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
}

    .texto-cabecera:hover {
        color: var(--colorTextoHover);
    }

    .texto-cabecera:visited {
        color: var(--colorTextoVisitado);
    }

    .texto-cabecera:active {
        color: var(--colorTextoActivo);
    }

.menu-dropdown {
    position: relative;
    display: inline-block;
}

.menu-dropdown-contenido {
    display: none;
    position: absolute;
    background-color: var(--fondoOscuro);
    color: var(--colorTexto);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    padding: 0px;
    z-index: 1;
}

.menu-dropdown-item {
    display: block;
    padding: 8px 15px;
    margin: 0px;
}

.menu-dropdown:hover .menu-dropdown-contenido {
    display: block;
}

.menu-dropdown-contenido a:hover {
    color: var(--colorTextoHover);
    background-color: var(--fondoBotonHover);
}

.menu-dropdown-contenido button:hover {
    color: var(--colorTextoHover);
    background-color: var(--fondoBotonHover);
}