.cargando {
    width: 48px;
    height: 48px;
    border: 5px solid var(--colorTexto);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.entrada-texto {
    padding: 5px 10px;
    background-color: var(--fondoEntrada);
    border: 0px;
    color: var(--colorTexto);
    display: block;
    width: 100%;
    min-width: 100%;
    vertical-align: middle;
    border-bottom: 1px solid var(--fondoEntrada);
    font-size: 16px;
}

    .entrada-texto::placeholder {
        font-size: 14px;
    }

    .entrada-texto:focus {
        outline: none;
    }

    .entrada-texto:hover {
        border-bottom: 1px solid var(--colorEnlace);
    }