.juego-imagen-boton {
    margin: 20px;
    max-height: 40px;
}

.juego-descuento-precio {
    display: flex;
    align-items: center;
}

.juego-descuento {
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    background-color: darkgreen;
}

.juego-precio {
    font-size: 18px;
    margin: 20px;
}

.juego-caja-espacio {
    padding: 30px;
}

@media(max-width: 900px) {
    .juego-imagen-boton {
        margin: 5px;
        max-height: 25px;
    }

    .juego-hacetiempo {
        display: none;
    }

    .juego-descuento {
        font-size: 16px;
        margin: 5px;
        padding: 5px;
    }

    .juego-precio {
        font-size: 16px;
        margin: 10px;
    }

    .juego-caja-espacio {
        padding: 20px;
    }
}

.juego-boton-pequeño {
    color: var(--colorTexto);
    background-color: var(--fondoBotonPequeño);
    user-select: none;
    padding: 10px 12px;
    text-align: left;
    font-size: 14px;
    border: 0px;
    text-decoration: none;
    transition: transform .2s;
    filter: saturate(0.85);
}

    .juego-boton-pequeño:hover {
        color: var(--colorTexto);
        background-color: var(--fondoBotonPequeñoHover);
        transform: scale(1.01);
    }