.juego-boton-pequeño {
    color: var(--colorTexto);
    background-color: var(--fondoBotonPequeño);
    user-select: none;
    padding: 10px 12px;
    text-align: left;
    font-size: 14px;
    border: 0px;
    text-decoration: none;
    transition: transform .2s;
    filter: saturate(0.85);
}

    .juego-boton-pequeño:hover {
        color: var(--colorTexto);
        background-color: var(--fondoBotonPequeñoHover);
        transform: scale(1.01);
    }
