@if (juego != null)
{
    <div class="opciones-panel">
        <div style="max-width: 900px; overflow-y: scroll; width: 100%; background-color: var(--fondoSubcabecera); border: 2px solid var(--fondoSubcabecera); margin: 20px auto; overflow-y: scroll; scrollbar-color: var(--fondoCodigo) var(--fondoOscuro); border-radius: 20px; box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);">
            <div style="display: flex; align-items: center; gap: 30px; padding: 20px 30px; background: color-mix(in srgb, var(--fondoSubcabecera) 55%, var(--fondoBotonPequeño));">
                <button @onclick="OnCerrar" @onmouseenter="_ => usuarioEncimaCerrar = true" @onmouseleave="_ => usuarioEncimaCerrar = false" style="@(usuarioEncimaCerrar == true ? "background: var(--fondoBotonPequeñoHover);" : "background: var(--fondoBotonPequeño);") padding: 8px 10px; border: 0px;">
                    <div style="width: 24px; height: 24px;">
                        <svg class="svg-icono" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640" style="fill: var(--colorTexto); transform: rotate(@(usuarioEncimaCerrar == true ? "180deg" : "0deg")); transition: transform 0.2s;">
                            <path d="M183.1 137.4C170.6 124.9 150.3 124.9 137.8 137.4C125.3 149.9 125.3 170.2 137.8 182.7L275.2 320L137.9 457.4C125.4 469.9 125.4 490.2 137.9 502.7C150.4 515.2 170.7 515.2 183.2 502.7L320.5 365.3L457.9 502.6C470.4 515.1 490.7 515.1 503.2 502.6C515.7 490.1 515.7 469.8 503.2 457.3L365.8 320L503.1 182.6C515.6 170.1 515.6 149.8 503.1 137.3C490.6 124.8 470.3 124.8 457.8 137.3L320.5 274.7L183.1 137.4z" />
                        </svg>
                    </div>
                </button>

                
            </div>
        </div>
    </div>
}

@code {

    #nullable disable

    [Parameter]
    public Juegos.Juego juego { get; set; }

    [Parameter]
    public string idioma { get; set; }

    [Parameter]
    public EventCallback OnCerrar { get; set; }

    private bool usuarioEncimaCerrar = false;

}
