.cabecera-poner {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 30px;
    gap: 20px;
    max-width: var(--anchoCuerpo);
    margin-left: auto;
    margin-right: auto;
}

.cuerpo {
    background-color: var(--fondoCuerpo);
    color: var(--colorTexto);
    font-family: 'Motiva Sans';
    position: relative;
    margin: 0px;
}

.cuerpo-ancho {
    max-width: var(--anchoCuerpo);
    margin-right: auto;
    margin-left: auto;
}

@media(max-width: 800px) {
    .cuerpo-espacio {
        padding: 0px;
    }
}

.texto-logo {
    font-size: 22px;
    color: var(--colorTexto);
    text-decoration: none;
    padding-right: 20px;
}

.texto-logo:hover {
    color: var(--colorTextoHover);
}

.texto-cabecera {
    font-size: var(--tamañoTexto);
    color: var(--colorTexto);
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
}

.texto-cabecera:hover {
    color: var(--colorTextoHover);
}

.texto-cabecera:visited {
    color: var(--colorTextoVisitado);
}

.texto-cabecera:active {
    color: var(--colorTextoActivo);
}

.texto-pie {
    font-size: var(--tamañoTexto);
    color: var(--colorTexto);
    text-decoration: none;
}

.texto-pie:hover {
    color: var(--colorTextoHover);
}

.texto-pie:visited {
    color: var(--colorTextoVisitado);
}