:root {
    --fondoOscuro: #002033;
    --fondoOscuroTransparente: rgba(0, 32, 51, 0.9);
    --fondoCuerpo: #1b2838;
    --tamañoTexto: 16px;
    --colorTexto: #f5f5f5;
    --colorTextoHover: #b9e2fa;
    --colorTextoVisitado: #cbeafb;
    --fondoEntrada: #0d1621;
    --fondoBoton: #146a9c;
    --fondoBotonHover: #105279;
    --fondoBotonPequeño: #0d1621;
    --fondoBotonPequeñoHover: #060a0f;
    --fondoBotonPequeñoTransparente: rgba(13, 22, 33, 0.5);
    --colorTextoPeligro: #f04f5e;
    --colorTextoPeligroHover: #b91020;
    --colorTextoOscuro: #86aeef;
    --fondoAlerta: #574200;
    --colorTextoBien: #011a11;
    --fondoBien: #035637;
    --colorTextoDlc: #edddf0;
    --fondoDlc: #733b7f;
    --colorEnlace: #95c0fe;
    --colorEnlaceHover: #3486fd;
    --fondoCodigo: #345884;
    --alturaCabecera: 70px;
    --anchoCuerpo: 1320px;
    --fondoMinimo: #002c47;
    --deckVerificado: #59bf40;
    --deckJugable: #ffc82c;
    --fondoOpcionesTransparente: rgba(13, 22, 33, 0.95);
    --fondoBandaSonora: #ab4364;
    --fondoPeligro: #842029;
    --botonSubcabecera: #324968;
    --fondoSubcabecera: #222b44;
    --buscadorSubcabecera: #141b2b;
    --fondoSubsubcabecera: #293751;
    --steamOSVerificado: #199fff;
    --checkboxFalso: #6c757d;
}

html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
    font-family: 'Motiva Sans', sans-serif;
    font-weight: normal;
    line-height: 25px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

*, *::before, *::after {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    box-sizing: border-box;
}

hr {
    margin: 15px 0px 15px 0px;
    color: rgba(0,0,0,0.25);
}

input[type="range"] {
    cursor: pointer;
}

a {
    color: var(--colorEnlace);
}

    a:hover {
        color: var(--colorEnlaceHover);
    }

dl, ol, ul {
    margin-top: 15px;
    margin-bottom: 15px;
}

li {
    margin-bottom: 15px;
}

button {
    cursor: pointer;
}

#components-reconnect-modal {
    display: none;
}

    #components-reconnect-modal.components-reconnect-show,
    #components-reconnect-modal.components-reconnect-failed,
    #components-reconnect-modal.components-reconnect-rejected {
        display: block;
    }

.cuerpo-ancho {
    max-width: var(--anchoCuerpo);
    margin-right: auto;
    margin-left: auto;
}

.boton-pequeño {
    color: var(--colorTexto);
    background-color: var(--fondoBotonPequeño);
    display: inline-block;
    user-select: none;
    width: 100%;
    padding: 6px;
    text-align: left;
    font-size: 16px;
    border: 0px;
    text-decoration: none;
    transition: transform .2s, background-color .1s linear;
    filter: saturate(0.85);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.28),0px 0px 1px 0px rgba(0, 0, 0, 0.24);
}

    .boton-pequeño:hover {
        color: var(--colorTextoHover);
        background: color-mix(in srgb, var(--fondoBotonPequeño), var(--fondoOscuro) 50%);
        transform: scale(1.01);
    }

select {
    appearance: none;
    outline: 10px red;
    border: 0px;
    box-shadow: none;
    flex: 1;
    padding: 10px 15px;
    color: var(--colorTexto);
    background-color: var(--fondoEntrada);
    font-family: 'Motiva Sans';
    cursor: pointer;
    font-size: 16px;
}

    select::-ms-expand {
        display: none;
    }

.tooltip-juego {
    text-decoration: none;
    position: relative;
    display: flex;
    width: fit-content;
}

    .tooltip-juego .tooltip-relleno {
        display: none;
    }

    .tooltip-juego:hover .tooltip-relleno {
        display: block;
        position: fixed;
        overflow: hidden;
        z-index: 1000000000000;
    }

.tooltip-relleno {
    background-color: var(--fondoBotonPequeño);
    color: var(--colorTexto);
    border: 1px solid var(--fondoBotonHover);
    border-radius: 5px;
    z-index: 1000000000000;
}

.svg-icono {
    display: block;
    fill: var(--colorEnlace);
    width: 100%;
    height: 100%;
}

    .svg-icono:hover {
        transform: scale(1.1);
        fill: var(--colorEnlaceHover);
    }

.svg-boton {
    display: block;
    fill: var(--colorTexto);
    width: 100%;
    height: 100%;
    transition: transform .2s;
}

    .svg-boton:hover {
        transform: scale(1.1);
        fill: var(--colorTextoHover);
    }
