* {
    --glaseadoBorde: #FFFFFF1A;
}

.caja-coste-contenido {
    background-color: var(--fondoSubsubcabecera);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    border: 2px solid var(--glaseadoBorde);
}

.caja-coste-titulo {
    background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
    font-size: 18px;
    padding: 20px 30px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.caja-coste-mini {
    background-color: var(--fondoSubcabecera);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1),0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 10px;
}

.sub-subcabecera {
    padding: 15px 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .sub-subcabecera {
        padding: 15px 5px;
    }
}

.subcabecera {
    background-color: var(--fondoSubcabecera);
}
