.caja-filtro-contenido {
    background-color: var(--fondoSubsubcabecera);
    border: 2px solid var(--fondoSubcabecera);
    padding: 10px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
}

.boton-expandir {
    transition: transform .2s;
    filter: brightness(100%);
    background-color: transparent;
}

    .boton-expandir:hover {
        transform: scale(1.05);
        filter: brightness(120%);
        background-color: var(--fondoSubcabecera);
    }

.cargando {
    width: 48px;
    height: 48px;
    border: 5px solid var(--colorTexto);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.sub-subcabecera {
    padding: 15px 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .sub-subcabecera {
        padding: 15px 5px;
    }
}

.subcabecera {
    background-color: var(--fondoSubcabecera);
}
