* {
    --glaseadoBorde: #FFFFFF1A;
    --glaseadoFondo: rgba(41, 55, 81, 0.9);
    --botonSeleccionado: rgba(13, 22, 33, 0.75);
}

.caja-noticia {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.28),0px 0px 1px 0px rgba(0, 0, 0, 0.24);
    background-blend-mode: overlay;
    border-radius: 100px;
    border: 2px solid var(--glaseadoBorde);
    width: fit-content;
    background-color: var(--glaseadoFondo);
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.caja-noticia-animacion {
    opacity: 0;
    transition: all 0.5s ease, transform .2s ease;
    pointer-events: none;
    transform: scaleX(0);
    transform-origin: left;
    max-width: 0;
}

    .caja-noticia-animacion.visible {
        opacity: 1;
        pointer-events: auto;
        transform: scaleX(1);
        max-width: fit-content;
    }

.boton-noticia {
    transition: backdrop-filter 0.2s ease;
}

    .boton-noticia:hover {
        backdrop-filter: brightness(50%);
    }

.caja-noticia-contenido {
    background-color: var(--fondoSubsubcabecera);
    border-left: 2px solid var(--glaseadoBorde);
    border-right: 2px solid var(--glaseadoBorde);
    padding: 40px;
}

.caja-noticia-titulo {
    background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
    font-size: 16px;
    padding: 20px 40px;
    border: 1px solid var(--fondoSubsubcabecera);
}

.juego-fondo {
    opacity: 0.3;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 50%, transparent 100%);
    z-index: -9999;
}

.entrada-texto {
    padding: 5px 10px;
    background-color: var(--fondoEntrada);
    border: 0px;
    color: var(--colorTexto);
    display: block;
    width: 100%;
    min-width: 100%;
    vertical-align: middle;
    border-bottom: 1px solid var(--fondoEntrada);
    font-size: 16px;
}

    .entrada-texto::placeholder {
        font-size: 14px;
    }

    .entrada-texto:focus {
        outline: none;
    }

    .entrada-texto:hover {
        border-bottom: 1px solid var(--colorEnlace);
    }

.opciones-panel {
    overflow-x: auto;
    z-index: 10001;
    padding: 10px;
    background-color: var(--fondoOpcionesTransparente);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}