.caja-privacidad-contenido {
    background-color: var(--fondoSubsubcabecera);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
}

.caja-privacidad-titulo {
    background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
    font-size: 18px;
    padding: 20px 30px;
    border: 1px solid var(--fondoSubsubcabecera);
}

.sub-subcabecera {
    padding: 15px 0px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .sub-subcabecera {
        padding: 15px 5px;
    }
}

.subcabecera {
    background-color: var(--fondoSubcabecera);
}
