@using Juegos

@attribute [StreamRendering(true)]

@if (juego.CantidadJugadores != null && juego.Caracteristicas?.FechaLanzamientoSteam != null)
{
    if (juego.CantidadJugadores.Cantidad > 0 && DateTime.Now > juego.Caracteristicas?.FechaLanzamientoSteam)
    {
        <div class="tooltip-juego" onmousemove="enseñarTooltip(event, 'tooltip-players')">
            <div class="caja-jugadores" style="padding: 10px; flex-direction: column; gap: 10px; min-height: 82px;">
                <div style="font-size: 17px; text-align: center; line-height: 30px;">
                    @juego.CantidadJugadores.Cantidad.ToString("N0")
                </div>

                <div style="font-size: 14px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String80", "Game")
                </div>
            </div>

            <div id="tooltip-players" class="tooltip-relleno">
                <div style="margin: 8px; max-width: 300px; font-size: 14px;">
                    @Herramientas.Idiomas.BuscarTexto(idioma, "String107", "Game")
                </div>
            </div>
        </div>
    }
}

@code {

    #nullable disable

    [Parameter]
    public string idioma { get; set; }

    [Parameter]
    public Juego juego { get; set; }

    [Parameter]
    public string userAgent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (juego.Tipo == JuegoTipo.Game)
        {
            if (juego.Caracteristicas?.FechaLanzamientoSteam != null && Herramientas.Bots.UserAgentEsBot(userAgent) == false)
            {
                if (DateTime.Now > juego.Caracteristicas?.FechaLanzamientoSteam)
                {
                    bool actualizarCantidadJugadores = false;

                    if (juego.CantidadJugadores == null)
                    {
                        actualizarCantidadJugadores = true;
                    }
                    else
                    {
                        if (juego.CantidadJugadores.Fecha.AddMinutes(30) < DateTime.Now)
                        {
                            actualizarCantidadJugadores = true;
                        }
                    }

                    if (actualizarCantidadJugadores == true)
                    {
                        JuegoCantidadJugadoresSteam cantidadNueva = new JuegoCantidadJugadoresSteam();
                        cantidadNueva.Cantidad = await APIs.Steam.Juego.CargarCantidadJugadores(juego.IdSteam.ToString());
                        cantidadNueva.Fecha = DateTime.Now;

                        juego.CantidadJugadores = cantidadNueva;

                        await global::BaseDatos.Juegos.Actualizar.CantidadJugadoresSteam(juego);
                    }
                }
            }
        }
    }
}
