.caja-cuenta-gog-contenido {
    background-color: var(--fondoSubsubcabecera);
    border: 2px solid var(--glaseadoBorde);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
    border-radius: 20px;
}

.caja-cuenta-gog-titulo {
    background: color-mix(in srgb, var(--fondoSubcabecera) 45%, var(--fondoBotonPequeño));
    font-size: 18px;
    padding: 20px 30px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.cargando {
    width: 48px;
    height: 48px;
    border: 5px solid var(--colorTexto);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.entrada-texto {
    padding: 5px 10px;
    background-color: var(--fondoEntrada);
    border: 0px;
    color: var(--colorTexto);
    display: block;
    width: 100%;
    min-width: 100%;
    vertical-align: middle;
    border-bottom: 1px solid var(--fondoEntrada);
    font-size: 16px;
}

    .entrada-texto::placeholder {
        font-size: 14px;
    }

    .entrada-texto:focus {
        outline: none;
    }

    .entrada-texto:hover {
        border-bottom: 1px solid var(--colorEnlace);
    }

.checkbox-caja .checkbox-interior {
    appearance: none;
    background-color: var(--fondoBotonPequeñoTransparente);
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 24px;
    margin: 0;
    position: relative;
    width: 40px;
    display: flex;
}

    .checkbox-caja .checkbox-interior::before {
        bottom: -6px;
        content: "";
        left: -6px;
        position: absolute;
        right: -6px;
        top: -6px;
    }

    .checkbox-caja .checkbox-interior,
    .checkbox-caja .checkbox-interior::after {
        transition: all 100ms ease-out;
    }

        .checkbox-caja .checkbox-interior::after {
            background-color: var(--checkboxFalso);
            border-radius: 50%;
            content: "";
            height: 19px;
            left: 3px;
            position: absolute;
            top: 3px;
            width: 19px;
        }

.checkbox-caja input[type=checkbox] {
    cursor: default;
}

.checkbox-caja .checkbox-interior:hover {
    background-color: var(--checkboxFalso);
    transition-duration: 0s;
    cursor: pointer;
}

.checkbox-caja .checkbox-interior:checked {
    background-color: var(--fondoBoton);
}

    .checkbox-caja .checkbox-interior:checked::after {
        background-color: var(--colorTexto);
        left: 18px;
    }

.checkbox-caja :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-caja .checkbox-interior:checked:hover {
    background-color: var(--fondoBotonHover);
    cursor: pointer;
}