.cargando {
    width: 48px;
    height: 48px;
    border: 5px solid var(--colorTexto);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotacion 1s linear infinite;
}

@keyframes rotacion {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

* {
    --glaseadoBorde: #FFFFFF1A;
    --glaseadoFondo: rgba(45, 47, 54, 0.70);
    --noResultados: rgba(132, 32, 41, 0.5);
    --botonSeleccionado: rgba(13, 22, 33, 0.75);
    --glaseadoFondo2: rgba(0, 32, 51, 0.9);
    --glaseadoBorde2: rgba(0, 255, 255, 0.10);
}

.caja-minimos {
    box-shadow: 0 22px 34px 0 rgba(0, 0, 0, 0.25);
    background-blend-mode: overlay;
    border-radius: 100px;
    border: 2px solid var(--glaseadoBorde);
    width: fit-content;
    background-color: var(--fondoSubcabecera);
    backdrop-filter: blur(25px);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
}

.caja-minimos-animacion {
    opacity: 0;
    transition: all 0.5s ease, transform .2s ease;
    pointer-events: none;
    transform: scaleX(0);
    transform-origin: left;
    max-width: 0;
}

    .caja-minimos-animacion.visible {
        opacity: 1;
        pointer-events: auto;
        transform: scaleX(1);
        max-width: fit-content;
    }

.boton-minimos {
    transition: backdrop-filter 0.2s ease;
}

    .boton-minimos:hover {
        backdrop-filter: brightness(50%);
    }

.menu-dropdown2 {
    position: relative;
    display: inline-block;
    z-index: 5000;
}

    .menu-dropdown2::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 20px;
        width: 100%;
    }

.menu-dropdown-contenido-centrado {
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translate(-50%, -8px);
    min-width: 200px;
    padding: 8px;
    background: var(--glaseadoFondo2);
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0,0,0,.25);
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease, transform .2s ease;
    border: 2px solid var(--glaseadoBorde2);
    z-index: 1000;
}

.menu-dropdown2:hover .menu-dropdown-contenido-centrado {
    opacity: 1;
    transform: translate(-50%, 0);
    pointer-events: auto;
}

.menu-dropdown-contenido-centrado a {
    display: block;
    padding: 12px 16px;
    border-radius: 10px;
    text-decoration: none;
}

    .menu-dropdown-contenido-centrado a:hover {
        background: rgba(99, 102, 241,.15);
    }

.texto-cabecera {
    font-size: var(--tamañoTexto);
    color: var(--colorTexto);
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    vertical-align: middle;
    background-color: transparent;
}

    .texto-cabecera:hover {
        color: var(--colorTextoHover);
    }

    .texto-cabecera:visited {
        color: var(--colorTextoVisitado);
    }

    .texto-cabecera:active {
        color: var(--colorTextoActivo);
    }

.boton-superior {
    display: block;
    padding: 6px 12px;
    margin: 0px;
    transition: transform .2s;
}

    .boton-superior:hover {
        transform: scale(1.01);
    }

@media (max-width: 800px) {
    .boton-superior {
        float: none;
    }
}

.entrada-texto {
    padding: 5px 10px;
    background-color: var(--fondoEntrada);
    border: 0px;
    color: var(--colorTexto);
    display: block;
    width: 100%;
    min-width: 100%;
    vertical-align: middle;
    border-bottom: 1px solid var(--fondoEntrada);
    font-size: 16px;
}

    .entrada-texto::placeholder {
        font-size: 14px;
    }

    .entrada-texto:focus {
        outline: none;
    }

    .entrada-texto:hover {
        border-bottom: 1px solid var(--colorEnlace);
    }

.checkbox-caja .checkbox-interior {
    appearance: none;
    background-color: var(--fondoBotonPequeñoTransparente);
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 24px;
    margin: 0;
    position: relative;
    width: 40px;
    display: flex;
}

    .checkbox-caja .checkbox-interior::before {
        bottom: -6px;
        content: "";
        left: -6px;
        position: absolute;
        right: -6px;
        top: -6px;
    }

    .checkbox-caja .checkbox-interior,
    .checkbox-caja .checkbox-interior::after {
        transition: all 100ms ease-out;
    }

        .checkbox-caja .checkbox-interior::after {
            background-color: var(--bs-gray-500);
            border-radius: 50%;
            content: "";
            height: 19px;
            left: 3px;
            position: absolute;
            top: 3px;
            width: 19px;
        }

.checkbox-caja input[type=checkbox] {
    cursor: default;
}

.checkbox-caja .checkbox-interior:hover {
    background-color: var(--checkboxFalso);
    transition-duration: 0s;
    cursor: pointer;
}

.checkbox-caja .checkbox-interior:checked {
    background-color: var(--fondoBoton);
}

    .checkbox-caja .checkbox-interior:checked::after {
        background-color: var(--colorTexto);
        left: 18px;
    }

.checkbox-caja :focus:not(.focus-visible) {
    outline: 0;
}

.checkbox-caja .checkbox-interior:checked:hover {
    background-color: var(--fondoBotonHover);
    cursor: pointer;
}

.opciones-panel {
    overflow-x: auto;
    z-index: 10001;
    padding: 10px;
    background-color: var(--fondoOpcionesTransparente);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}