.caja-admin-bundle {
    background-color: var(--fondoSubsubcabecera);
    border: 2px solid var(--fondoSubcabecera);
    padding: 20px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.28),0px 0px 2px 0px rgba(0, 0, 0, 0.24);
}

.entrada-texto {
    padding: 5px 10px;
    background-color: var(--fondoEntrada);
    border: 0px;
    color: var(--colorTexto);
    display: block;
    width: 100%;
    min-width: 100%;
    vertical-align: middle;
    border-bottom: 1px solid var(--fondoEntrada);
    font-size: 16px;
}

    .entrada-texto::placeholder {
        font-size: 14px;
    }

    .entrada-texto:focus {
        outline: none;
    }

    .entrada-texto:hover {
        border-bottom: 1px solid var(--colorEnlace);
    }